
header {
    background-color: #FFCC99;
}

header h1 {
    font-weight: bold;
    text-align: center;
}

main {
    display: flex;
    background-color: #E6F2FF;
}

section {
    margin: 20px;
    flex: 3;
}

aside {
    background-color: #B3D9FF;
    border: #CCC 1px solid;
    flex: 1;
}

footer {
    background-color: #99CC99;
    border: #CCC 1px solid;
}

header, footer {
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15);
}